PngImage_1 RCDATA "G:\\Shared Economy\\Graphics\\Big Splash Images\\Senza-titolo-1.png"
PngImage_2 RCDATA "G:\\Shared Economy\\Graphics\\Big Splash Images\\Senza-titolo-2.png"
PngImage_3 RCDATA "G:\\Shared Economy\\Graphics\\Big Splash Images\\Senza-titolo-3.png"
PngImage_4 RCDATA "G:\\Shared Economy\\Graphics\\Big Splash Images\\Senza-titolo-4.png"
PngImage_5 RCDATA "G:\\Shared Economy\\Graphics\\Big Splash Images\\Senza-titolo-5.png"
PngImage_6 RCDATA "G:\\Shared Economy\\Graphics\\Big Splash Images\\Senza-titolo-6.png"
PngImage_7 RCDATA "G:\\Shared Economy\\Graphics\\Big Splash Images\\Senza-titolo-7.png"
Air RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\Air.Style"
Amakris RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\Amakrits.Style"
Aqua RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\AquaGraphite.style"
Blend RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\Blend.Style"
Dark RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\Dark.style"
GoldenGraphite RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\GoldenGraphite.Style"
Light RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\Light.Style"
RubyGraphite RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\RubyGraphite.style"
Resource_9 RCDATA "C:\\Program Files (x86)\\Embarcadero\\Studio\\19.0\\Redist\\styles\\Fmx\\Transparent.Style"
Default RCDATA "..\\iGApp\\Android\\Debug\\iGApp\\assets\\internal\\iGetAccessStyleHD.style"
